.main-container{
  margin-top: 20px;
}

body{
  padding-bottom: 50px;
}


/** Animaciones **/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


/** IMG **/
.gatos {
  width: 80px;
  height: 230px;
  filter: grayscale(1px);
  filter:blur(5px);
}


.gatos:hover {
  filter: none;
  transition-duration: 1s
}

.gato{
  width: 300px;
  height: 100px;
}

.bio-gatos{
  width: 300px;
  height: 120px;
}

.bio-completa{
  margin-top: 40px;
  width: auto;
}
