<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <img src="../favicon.ico" alt="" width="30px" height="30px">

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

    <!-- Active -->
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['gatos']">Gatos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input #buscarTexto class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (keyup.enter)="buscarGato(buscarTexto.value)">
      <button  (click)="buscarGato(buscarTexto.value)"
      class="btn btn-outline-primary my-2 my-sm-0" type="button" name="button">Search</button>
    </form>
  </div>
</nav>
