<h1 class="animated fadeIn fast">Sobre Gatos App</h1>
<hr>
<p class="animated fadeIn">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eligendi est fugit voluptatum, maiores blanditiis, hic, quia adipisci nam laborum iste vitae. Optio accusamus voluptatibus, vitae quisquam ullam ducimus doloribus.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam inventore, dignissimos corporis tenetur laudantium ipsa, deleniti enim quod voluptatem optio id ducimus quam. Odio dolor obcaecati deleniti, at dolores facilis.
</p>
