<h1>Razas <small>de Gatos</small></h1>
<hr>


<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let gato of gatos; let i = index">
      <img [src]="gato.img" class="card-img-top" [alt]="gato.nombre">
      <div class="card-block">
        <h5 class="card-title">{{ gato.nombre }}</h5>
        <p class="card-text">{{ gato.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ gato.origen }}</small></p>
        <!--
        <button (click) = "verGato(i)" class="btn btn-outline-primary btn-block">
        Ver mas..
        </button>
        -->
        <a [routerLink]="['/gato', i]" class="btn btn-outline-primary btn-block">Ver mas ... </a>
      </div>
    </div>
</div>
